:root {
  --accent_color: #fef683;
  --background_color: white;
  --dark_element_color: #50373c;
  --primary_element_color: #f0905c;
  --secondary_element_color: #c25848;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--background_color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.button_container {
  padding: 2vh;
}

.cart_item_container {
  border: 0.5vh solid var(--secondary_element_color);
  padding: 0.5vw;
  display: flex;
  flex-direction: row;
  height: 20%;
  justify-content: space-between;
}

.cart_item_container img {
  max-width: 30%;
  height: auto;
  content: cover;
}

.product_container {
  display: flex;
  border: 0.5vh solid var(--primary_element_color);
  flex-direction: column-reverse;
  gap: 1vh;
  margin: 3vw;
  height: 75vh;
  justify-content: flex-start;
}
