/* body grid and general organisation */
html,
body {
  height: 100%;
}

body {
  background-color: var(--background_color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-kerning: auto;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

/* cart items styling */

.product_container {
  display: flex;
  background-color: var(--off_white_color);
  flex-direction: column-reverse;
  gap: 1vh;
  margin: 3vw;
  height: auto;
  justify-content: flex-start;
}

.cart_item_container {
  background-color: var(--background_color);
  padding: 2vh;
  margin: 0.5vw;
  display: flex;
  flex-direction: row;
  height: 20%;
  max-height: 20vh;
  min-height: 15vh;
  justify-content: space-between;
  align-items: center;
}

.cart_item_container article {
  width: 20%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.cart_item_container img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.cart_item_remove_button {
  border: none;
  background-color: var(--primary_element_color);
  padding: 1vh;
  border-radius: 5px;
}

/* purchase container */
.button_container {
  padding: 2vh;
}

#purchase {
  border: none;
  background-color: var(--secondary_element_color);
  padding: 1vh;
  border-radius: 5px;
}

#clear {
  border: 0;
  outline: solid 2px var(--dark_element_color);
  outline-offset: -2px;
  border-style: inset;
  padding: 1vh;
  border-radius: 5px;
  background-color: var(--background_color);
}
