/* general */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
   background-color: var(--background_color);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.white_text {
  color: var(--background_color)
}
.white_text p {
  margin-top: 3vh;
}
/*text*/

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-kerning: auto;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

h2 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(1rem, 4vw, 2rem);
}

h3 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 3vw, 1.6rem);
}

/* new stuff section */

.new_stuff_section {
  height: auto;
  max-height: 50vh;
  padding: 2vw;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary_element_color);
}

@media screen and (max-width: 600px) {
  .new_stuff_section{
    height: auto;
    grid-template-columns: 1fr;
    gap: 0px;
  }
}

.wrapper_img {
  grid-column: 1;
}

.featured_product {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.product_link {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgsh {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  min-width: 0;
}

.wrapper_new {
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2;
  display: grid;
  grid-gap: 1vw;
  grid-template-areas:
    "a a a"
    "item1 item2 item3";
  color: var(--background_color);
}

/* featured product images */

.a {
  grid-area: a;
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.a p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .a {
    gap: 2vw;
  }
  .carousel{
    flex-direction: column;
  }
}
.wawa {
  grid-area: item1;
}
.wawb {
  grid-area: item2;
}
.wawc {
  grid-area: item3;
}

.new_stuff_section h2 p {
  font-weight: 900;
}

.flex_container {
  display: flex;
}

/*carousel*/

.promoted_container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  margin: 2vw;
  gap: 1.5vw;
  padding: 1vw;
  background-color: var(--off_white_color);
}
.promoted {
  height: auto;
  min-height: 25vh;
}

.promoted h3{
  margin-bottom: 0.5vh;
}

.carousel {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
}

.product {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    min-width: 0;
}
