/*header*/
.nav_element{
    display: inline-block;
    padding-right: 0.5rem;
    margin: 0px;
}

ul{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

a {
    color: #0f1b21
}

/* grids */
header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flex_container{
    display:flex;
}


/*main colors*/
body{
    background-color: #dde9e5;
    margin: 0px;
}

footer{
    background-color:#0f1b21;
    color:#dde9e5
}

header {
    background-color:#858f90;
}
.new_stuff_section{
    background-color:#713030;
}

.white_text{
    color: #dde9e5;
    margin: 0px;
}
.white_text p {
    margin-top: 3rem;
}
/*text*/
*{
    font-family:  "Bitcount Single", system-ui;
    font-weight: 500;
    margin: 0;
}

.new_stuff_section h2 p{
    font-weight: 900;
}
/*main*/ 
.featured_product{
    width: 75%;
}

.product {
    width: 30%;
}