* {
  margin: 0;
  padding: 0;
}

/*nav*/

.nav_element {
  display: inline-block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  list-style: none;
  background-color: #2d244d;
}

@media (max-width: 600px) {
  nav{
    flex-direction: column;
    align-content: end;
  }
}

nav a {
  color: white;
}

/* grids */

body {
  display: grid;
  grid-template-columns: 1fr;
}

/* new stuff section */

.new_stuff_section {
  padding: 3vw;
  display: grid;
  grid-gap: 1vh;
  grid-template-columns: 1fr 1fr;
  background-color: #924388;
}

.wrapper_img {
  grid-column: 1;
  display: flex;
  justify-content: center;
}
.wrapper_new {
  grid-template-rows: 1fr 1fr;
  grid-column: 2;
  display: grid;
  grid-gap: 1vh;
  grid-template-areas:
    "a a a"
    "1 2 3";
  color: #dde9e5;
}

/* featured product images */

.a {
  grid-area: a;
}

.imgsh {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.wawa {
  grid-area: 1;
}
.wawb {
  grid-area: 2;
}
.wawc {
  grid-area: 3;
}

.featured_product {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.new_stuff_section h2 p {
  font-weight: 900;
}

.flex_container {
  display: flex;
}

/*main*/
body {
  background-color: #dde9e5;
}

footer {
  background-color: #13071a;
  color: #dde9e5;
  margin-top: 20px;
  padding: 3vw;
}

.white_text {
  color: #dde9e5;
}
.white_text p {
  margin-top: 3vh;
}
/*text*/
* {
  font-family: "Bitcount Single", system-ui;
  font-weight: 500;
}
/*carousel*/
.promoted {
  padding-top: 2rem;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 25vw;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width:600) {
  
}

.product {
  object-fit: cover;
  max-width: 100%;
  height: 90%;
}
