:root {
  --accent_color: #fef683;
  --background_color: white;
  --dark_element_color: #50373c;
  --primary_element_color: #f0905c;
  --secondary_element_color: #c25848;
  --off_white_color: rgb(240, 233, 233);
}

.nav_element {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  list-style: none;
  gap: 1vh;
  background-color: var(--dark_element_color);
}

.cart_item {
  background-color: var(--primary_element_color);
  color: var(--dark_element_color);
  padding-left: 3vw;
  padding-right: 3vw;
  font-weight: 500;
  border-radius: 4px;
}

@media (max-width: 640px) {
  nav {
    flex-direction: column;
  }
  .cart_item {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

.icon_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.2vw;
}

.search {
  border-color: none;
  border-style: none;
  border-radius: 2px;
  background-color: var(--background_color);
}

nav a {
  color: white;
}
