main {
  grid-column: main;
  display: grid;
  grid-template-rows: repeat();
}

aside {
  grid-column: aside;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.product_info {
  padding: 4vw;
}
header {
  grid-area: header;
  background-color: #2d244d;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 75px 1fr;
  grid-template-areas: "header header" "main aside";
  grid-gap: 1rem;
  background-color: #dde9e5;
  margin: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  list-style: none;
}

.icon_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
