:root {
  --accent_color: #fef683;
  --background_color: white;
  --dark_element_color: #50373c;
  --primary_element_color: #f0905c;
  --secondary_element_color: #c25848;
}

body {
  background-color: var(--background_color);
}

footer {
  background-color: var(--dark_element_color);
  color: var(--background_color);
  padding: 3vw;
}

.white_text {
  color: var(--background_color);
}
.white_text p {
  margin-top: 3vh;
}
/*text*/
h2 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(1rem, 4vw, 2rem);
}

h3 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 3vw, 1.6rem);
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

p {
  font-size: 1.3rem;
}
main {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 2vw;
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 2vw;
}

.product_wrap {
  margin: auto;
}

.product_wrap img {
  width: 100%;
}

.product_info {
  margin-top: 2vw;
}

aside button {
  display: color;
  background-color: #2d244d;
  height: 4rem;
  width: 60%;
  color: white;
  border: none;
}

aside button:hover {
  background-color: violet;
}

header {
  grid-area: header;
  background-color: #2d244d;
}

body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 4rem repeat(1fr);
  grid-template-areas: "header header" "main aside";
  grid-gap: 0.5vw;
  background-color: #dde9e5;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 4rem repeat(1fr);
    grid-template-areas: "header" "main" "aside";
    grid-gap: 1vw;
  }
}
